<% content_for :title, "Roles for "+@user.username+" in "+@team.name %>
<div class="space-y-8">
  <h1 class="text-2xl font-bold mb-4">Roles for <strong><%= @user.username %></strong> in <strong><%= @team.name %></strong></h1>

  <h2 class="text-xl font-bold mb-2">Assigned</h2>
  <table class="min-w-full divide-y divide-gray-200">
    <thead class="bg-gray-50">
      <tr>
        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider w-1/3 bg-white">Name</th>
        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider w-1/3 bg-white">Description</th>
        <th class="px-6 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider w-1/3">Action</th>
      </tr>
    </thead>
    <tbody>
      <% @user_roles.each do |user_role| %>
        <tr>
          <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900 bg-white border-b border-gray-200"><%= user_role.role.name %></td>
          <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500 bg-white border-b border-gray-200"><%= user_role.role.description %></td>
          <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500 text-center bg-white border-b border-gray-200">
            <%= button_to 'Remove', remove_contextual_role_team_path(@team, @user, user_role.role), method: :delete, class: 'bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <h2 class="text-xl font-bold mb-2">Unassigned</h2>
  <table class="min-w-full divide-y divide-gray-200">
    <thead class="bg-gray-50">
      <tr>
        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider w-1/3 bg-white">Name</th>
        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider w-1/3 bg-white">Description</th>
        <th class="px-6 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider w-1/3">Action</th>
      </tr>
    </thead>
    <tbody>
      <% @available_roles.each do |role| %>
        <tr>
          <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900 bg-white border-b border-gray-200"><%= role.name %></td>
          <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500 bg-white border-b border-gray-200"><%= role.description %></td>
          <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500 text-center bg-white border-b border-gray-200">
            <%= button_to 'Assign', assign_contextual_role_team_path(@team, @user, role), method: :post, class: 'bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="flex justify-center mt-6">
    <%= link_to 'Back', members_team_path(@team), class: 'bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded' %>
  </div>
</div>
