<div>
  <h1 class="font-bold text-4xl">Daily created</h1>
  <p><strong>Team:</strong> <%= @daily.team.name %></p>
  <p><strong>User:</strong> <%= @daily.user.name %></p>
  <p><strong>Date:</strong> <%= @daily.date %></p>
  <p><strong>Yesterday:</strong> <%= @daily.yesterday %></p>
  <p><strong>Today:</strong> <%= @daily.today %></p>
  <p><strong>Blockers:</strong> <%= @daily.blockers %></p>
  <p><strong>Freeform notes:</strong> <%= @daily.freeform %></p>
</div>
